<html>
    <body>
        <h1>Livros</h1>
        <a href="/books/new">Novo</a>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Preço</th>  
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i<books.length; i++) { %>
                <tr>
                    <td><%= books[i].id %></td>
                    <td><%= books[i].title %></td>
                    <td><%= books[i].price %></td>  
                </tr>
            <% } %>
            </tbody>
        </table>
    </body>
</html>